body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: black;
  color: limegreen;
  width: 500px;
  margin: auto;
  text-align: center;
}

h1 {
  color: limegreen;
  margin-left: 25px;
}

a {
  color: orange;
}
